@{
    ViewBag.Title = "主页";
}
<p>
    <div>
        <ul>
            <li>@Html.ActionLink("B2B筛选&导出", "B2BDataExport", "Export")</li>
            <li>@Html.ActionLink("B2C筛选&导出", "B2CDataExport", "Export")</li>
            <li>@Html.ActionLink("B2B数据导入", "B2BDataImport", "Import")</li>
            <li>@Html.ActionLink("B2C数据导入", "B2CDataImport", "Import")</li>
        </ul>
    </div>
</p>
